body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.MuiFormLabel-root.MuiInputLabel-standard.MuiInputLabel-root {
  transform: translate(0px, 17px) scale(1);
}

.MuiFormLabel-root.MuiInputLabel-standard.MuiInputLabel-shrink {
  transform: translate(0px, 3px) scale(0.75);
}

.custom-select-label {
  transform: translate(0px, 17px) scale(1) !important;
}

.custom-select-label.MuiInputLabel-shrink {
  transform: translate(0px, 3px) scale(0.75) !important;
}

.MuiInputAdornment-root .MuiIconButton-root {
  margin-right: -8px;
}

.MuiDataGrid-selectedRowCount {
  display: none !important;
}

/* .custom-radio-form:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.42)
} */